.ChatScreen {
  display: flex;
  width: 100%;
}
.ChatMenu {
  flex: 3.5;
}
.ChatBox {
  flex: 5.5;
}
.ChatOnline {
  flex: 3;
}

.ChatBoxWrapper {
  display: flex;
  flex-direction: column;
}
.ChatUserName {
  margin: 10px;

  border-bottom: 0.5px solid rgb(144, 143, 143);
  display: flex;
  align-items: center;
}
.OtherUserPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 8px;
}
.OtherUserName {
  margin-left: 15px;
  font-weight: bold;
}
.messageArea {
  height: 81vh;
  overflow-y: scroll;
  padding-right: 10px;
}
.textArea {
  width: 76%;
  height: 40px;
  border-radius: 40px;
}
.SendButton {
  background-color: #ad02ad;
  color: white;
  border-color: #ad02ad;
  width: 149px;
  height: 43px;
  border-radius: 20px;
  margin-left: 5px;
}
.InputFieldForEnteringMessage {
  display: flex;
  justify-content: flex-end;
  margin-right: 27px;
}
.InputMessageContainer {
  width: 64%;
  border-radius: 21px;
}
